<h1>All Events</h1>
<%= render RsvpWeb.SharedView, "count.html", list: @events %>
<div class="list-group">
    <%= for e <- @events do %>
        <%= render "summary.html", event: e, conn: @conn %>
    <% end %>
</div>